@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&family=Rubik+Dirt&display=swap');

/* algemeen */

* {
    padding: 0%;
    margin: 0%;
}

h1, h2, h3 {
    font-family: "Rubik Dirt";
    font-style: normal;
}

h1, h3 {
    color: #EADFC9;
}

h1 {
    font-size: 7em;
    animation-name: fadein;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: ease-in;
}

h2 {
    font-size: 3.5em;
    color: #577168;
}

h3 {
    font-size: 2em;
}

p {
    font-family: "Encode Sans SC";
    font-size: 1.1em;
    padding: 0.5em 0em;
    color: #577168;
}

section {
    margin-top: 5em;
    margin-bottom: 5em;
}

#overons header section a:hover {
    background-color: #F3A14B;
    border: 2px #C16F19;
    border-style: solid;
    color: #C16F19;
}

#afleveringen header section a:hover {
    background-color: #C86232;
    border: 2px #AB4515;
    border-style: solid;
    color: #EADFC9;
}

#index header section a:hover {
    background-color: #577168;
    border: 2px #93ADA4;
    border-style: solid;
    color: #93ADA4;
}

/* header */
/* bron afbeelding: https://unsplash.com/photos/brown-and-gray-concrete-building-during-golden-hour-_G4eAbP4SI4 */
#afleveringen header {
    background-image: url(../img/background-afleveringen.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.3em;
}

#afleveringen header section {
    background-color: #C86232;
    width: 45%;
    text-align: left;
    margin: 3em;
    border-radius: 1em;
    padding: 1.5em;
    margin-top: 38em;
    display: flex;
    flex-direction: column;
    animation-name: fadein;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: ease-in;
}

#afleveringen header p {
    font-family: "Encode Sans SC";
    color: #AB4515;
    font-weight: 600;
    text-align: left;
    padding-top: 0.5em;
    font-size: 1.3em;
    animation-name: fadein;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: ease-in;
}

#afleveringen header section a {
    background-color: #AB4515;
    text-decoration: none;
    padding: 0.8em 2em;
    color: #EADFC9;
    font-family: "Encode Sans SC";
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 1.5em;
    border: none;
    border-radius: 0.3em;
    width: 13em;
    text-align: center;
    transition: all 350ms ease-in-out;
    transition-delay: 0.5s;
    animation-name: fadein;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: ease-in;
}

/* bron afbeelding: https://unsplash.com/photos/body-of-water-near-trees-km74CLco7qs */
#index header {
    background-image: url(../img/background-home.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.3em;
}

#index header p {
    font-family: "Encode Sans SC";
    color: #93ADA4;
    font-weight: 600;
    text-align: left;
    padding-top: 0.5em;
    font-size: 1.3em;
    animation-name: fadein;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: ease-in;
}

#index header section {
    background-color: #577168;
    width: 40%;
    text-align: left;
    margin: 3em;
    border-radius: 1em;
    padding: 1.5em;
    margin-top: 38em;
    display: flex;
    flex-direction: column;
    animation-name: fadein;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: ease-in;
}

#index header section a {
    text-decoration: none;
    background-color: #93ADA4;
    padding: 0.8em 2em;
    color: #EADFC9;
    font-family: "Encode Sans SC";
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 1.5em;
    border: none;
    border-radius: 0.3em;
    width: 6em;
    text-align: center;
    transition: all 350ms ease-in-out;
    transition-delay: 0.5s;
    animation-name: fadein;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: ease-in;
}

/* bron afbeelding: https://unsplash.com/photos/black-concrete-road-surrounded-by-brown-rocks-tMzCrBkM99Y */
#overons header {
    background-image: url(../img/background-overons.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.3em;
}

#overons header p {
    font-family: "Encode Sans SC";
    color: #C16F19;
    font-weight: 600;
    text-align: left;
    padding-top: 0.5em;
    font-size: 1.3em;
    animation-name: fadein;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: ease-in;
}

#overons header section {
    background-color: #F3A14B;
    width: 34%;
    text-align: left;
    margin: 3em;
    border-radius: 1em;
    padding: 1.5em;
    margin-top: 38em;
    display: flex;
    flex-direction: column;
    animation-name: fadein;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: ease-in;
}

#overons header section a {
    text-decoration: none;
    background-color: #C16F19;
    padding: 1em 5em;
    color: #EADFC9;
    font-family: "Encode Sans SC";
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 1.5em;
    border: none;
    border-radius: 0.3em;
    width: 6em;
    text-align: center;
    transition: all 350ms ease-in-out;
    transition-delay: 0.5s;
    animation-name: fadein;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: ease-in;
}

/* bron afbeelding: https://www.pexels.com/photo/van-parked-beside-the-road-near-handrail-and-ocean-2303781/ */
#bronnen header {
    background-image: url(../img/background-bronnen.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.3em;
}

#bronnen header section {
    background-color: #577168;
    width: 30%;
    text-align: left;
    margin: 3em;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin-top: 38em;
    display: flex;
    flex-direction: column;
    animation-name: fadein;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: ease-in;
}

#bronnen header p {
    font-family: "Encode Sans SC";
    color: #93ADA4;
    font-weight: 600;
    text-align: left;
    padding-top: 0.5em;
    font-size: 1.3em;
    animation-name: fadein;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: ease-in;
}

#bronnen header section a {
    background-color: #AB4515;
    text-decoration: none;
    padding: 0.8em 2em;
    color: #EADFC9;
    font-family: "Encode Sans SC";
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 1.5em;
    border: none;
    border-radius: 0.3em;
    width: 13em;
    text-align: center;
    transition: all 350ms ease-in-out;
    transition-delay: 0.5s;
    animation-name: fadein;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: ease-in;
}

header img {
    width: 35%;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
}

/* navigatie */

nav ul a {
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    font-family: "Encode Sans SC";
    font-weight: 600;
    color: #EADFC9;
    font-size: 1.2em;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: right;
}

.huidige {
    color: #F3A14B;
    text-decoration: underline;
    font-weight: 700;
}

a:hover {
    color: #93ADA4;
}

/* main */

main section {
    display: flex;
    margin: 10em 1em;
}

main a {
    background-color: #577168;
    padding: 1em 3em;
    font-family: "Encode Sans SC";
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;
    color: #EADFC9;
    border-radius: 0.3em;
}

main li {
    font-family: "Encode Sans SC";
    font-size: 1.1em;
    padding-top: 0.1em;
    margin-left: 1em;
    color: #577168;
}

/* main bronnen */

#bronnen main a {
    background-color: #93ADA4;
    color: #577168;
    text-decoration: none;
    width: 10em;
    text-align: center;
}

#bronnen main ul {
    list-style-type: none;
    display: flex;
}

#bronnen main section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#bronnen main h2 {
    margin-bottom: 0.5em;
}

/* afleveringen */

.afleveringen {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.afleveringen div {
    display: flex;
    flex-wrap: wrap;
}

main article {
    display: flex;
    flex-direction: row;
    width: 45%;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

.afleveringen article:nth-child(3n-2) {
    background-color: #577168;
    color: #EADFC9;
    text-align: left;
}

.afleveringen article:nth-child(3n-1) {
    background-color: #AB4515;
    color: #EADFC9;
    text-align: left;
}

.afleveringen article:nth-child(3n) {
    background-color: #C16F19;
    color: #EADFC9;
    text-align: left;
}

article div p {
    color: #EADFC9;
}

.icons div {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-right: 1em;
}

/* overlap */

.overlap a {
    text-decoration: none;
    background-color: #F3A14B;
    padding: 1em 2em;
    color: #EADFC9;
    font-family: "Encode Sans SC";
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 4em;
    border: none;
    border-radius: 0.3em;
    transition: all 350ms ease-in-out;
    width: 13.5em;
    transition-delay: 0.5s;
}

.overlap div {
    background-color: #C16F19;
    z-index: 1;
    position: relative;
    width: 55%;
    padding: 3em 1.5em;
    border-radius: 0.5em;
    top: 80px;
    height: 100%;
    color: #EADFC9;
    display: flex;
    flex-direction: column;
}

.overlap h2 {
    color: #EADFC9;
}

.overlap p {
    color: #EADFC9;
    padding: 0%;
}

.overlap p:nth-child(2n) {
    padding-top: 1em;
}

.afbeelding {
    display: flex;
    width: 60%;
}

.overlap a:hover {
    background-color: #C16F19;
    border: 2px #F3A14B;
    border-style: solid;
    color: #EADFC9;
}

/* voledig */

.voledig {
    background-color: #C86232;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 15em;
    padding-top: 2em;
}

.voledig h2 {
    color: #EADFC9;
}

.voledig p {
    color: #EADFC9;
}

.voledig>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
}

.voledig>div div {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    border-radius: 0.3em;
    text-align: left;
    height: 8em;
    margin-top: 1em;
    padding: 1.5em;
    justify-content: center;
    background-color: #AB4515;
    width: 28%;
}

.voledig h3 {
    font-family: "Encode Sans SC";
    font-size: 1.3em;
    color: #EADFC9;
}

/* Omgedraaid */
.omgedraaid {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.omgedraaid img {
    margin-left: 10em;
    width: 45vw;
}

.omgedraaid div {
    margin: 0em 5em;
    margin-right: 10em;
    display: flex;
    flex-direction: column;
}

.omgedraaid a {
    width: 7.5em;
    text-align: center;
    margin-top: 0.5em;
    transition: all 350ms ease-in-out;
    transition-delay: 0.5s;
}

.omgedraaid a:hover {
    background-color: #fff;
    border: 2px #577168;
    border-style: solid;
    color: #577168;
}

/* ruimte */

.ruimte {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ruimte img {
    margin-right: 10em;
    width: 45vw;
}

.ruimte div {
    margin: 0em 5em;
    margin-left: 10em;
}

.ruimte p {
    padding: 0%;
}

.ruimte p:nth-child(n) {
    padding-bottom: 0.8em;
}

.ruimte ol {
    padding-bottom: 0.8em;
}

.ruimte h3 {
    font-family: "Encode Sans SC";
    font-size: 1.3em;
    margin-top: 0.8em;
    color: #577168;
}

/* overlap andersom */

.overlap-omgedraaid div {
    background-color: #C16F19;
    z-index: 1;
    position: relative;
    width: 55%;
    padding: 3em 1.5em;
    border-radius: 0.5em;
    top: 80px;
    height: 100%;
    color: #EADFC9;
}

.overlap-omgedraaid p {
    color: #EADFC9;
}

.overlap-omgedraaid h2 {
    color: #EADFC9;
}

.overlap-omgedraaid {
    display: flex;
    flex-direction: row-reverse;
}

/* formulier */

.formulier {
    display: flex;
    flex-direction: column;
    background-color: #577168;
    width: 50vw;
    padding: 1em;
    height: 15em;
    border-radius: 0.5em;
    justify-content: center;
    margin-right: 10em;
}

.input {
    display: flex;
    flex-direction: row;
}

.input div {
    margin-right: 1em;
    width: 50%;
}

.formulier p {
    color: #EADFC9;
}

input {
    width: 96%;
    height: 2.5em;
    background-color: #93ADA4;
    border-style: solid;
    border: none;
    border-radius: 0.3em;
    color: #577168;
    font-family: "Encode Sans SC";
    font-size: 1em;
    padding-left: 1em;
}

.formulier button {
    width: 10em;
    background-color: #577168;
    padding: 0.5em 1em;
    color: #EADFC9;
    font-family: "Encode Sans SC";
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 1.5em;
    border-style: solid;
    border-color: #93ADA4;
    border-radius: 0.3em;
    transition: all 350ms ease-in-out;
}

.formulier button:hover {
    background-color: #93ADA4;
    color: #577168;
}

.helft {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 10em;
    margin-right: 4em;
}

/* video */

#index section:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index section:nth-child(3) h2 {
    margin-bottom: 0.5em;
}

iframe {
    width: 55vw;
    height: 50vh;
    border-style: solid;
    border: none;
    border-radius: 0.3em;
    color: #577168;
}

/* footer */

footer img {
    width: 10%;
    margin-left: 5em;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #577168;
    padding: 2em;
    color: #EADFC9;
}

footer a {
    text-decoration: none;
    display: block;
    font-family: "Encode Sans SC";
    font-weight: 400;
    color: #EADFC9;
    font-size: 1em;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    color: #EADFC9;
}

footer p {
    color: #EADFC9;
}

footer li {
    font-family: "Encode Sans SC";
}

footer div:last-child {
    margin-right: 5em;
}

/* animatie */

@keyframes fadein {
    0% {
        transform: translateX(-50vw);
    }

    10% {
        opacity: 0%;
    }

    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}